.header{
    display: flex;
    justify-content: center;
    
    padding: 2rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #2d8f5f;
    text-align: center;
    color: aliceblue;
}

header{
    display: flex;
    justify-content: center;
    

}
.nav-item  {
    background: #62447c4f;
    color: rgb(252, 252, 252);

  }
  a {
    text-decoration: none;
  }

  li {
    color: rgba(255, 0, 0, 0.382);
    margin: 0 0.8rem;
    font-size: 1.3rem;
    position: relative;
    list-style: none;
  }

  
  .nav-item .dropdown-item {
    color: #f3ebebbb;
    background-color: #0b0b7630;
  }
  
  .nav-item .dropdown-item:hover {
    background: #6a6584;
    color: #ffffff;
  }
.container-icon{
    position: absolute;
    top: 5%;
    right: 3%;
    background-color: #ff0000;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: black 2px solid;
}

.count-productos{
    position: absolute;
    top: 70%;
    left: 80%;

    background-color: #5500ff;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-productos{
    position: absolute;
    top: 50px;
    right: 0;
color: #2f2b2b;
    background-color: #7f3a7f;
    width: 500px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-producto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-producto{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}



.icon-cart:hover{
    cursor: pointer;
}