
.container-productos {
  align-items: center;
  justify-content: center;
	display: grid;
	grid-template-columns: repeat(4, 2fr);
	gap: 30px;
  background-color: #dab3e162;
}
.flexbox {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 200px;

  background: #ffff99;
  color: #333;
}

.item {
	border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(219, 16, 16, 0.2);
  align-items: center;
  justify-content: center;
}

.item img {
	width: 97%;
	height: 400px;
	object-fit: cover;
	border-radius: 10px 10px 10PX 10PX;
	transition: all 0.5s;
  align-items: center;
  justify-content: center;
}


.item figure {
	overflow: hidden;
  align-items: center;
  justify-content: center;
}

.item:hover img {
	transform: scale(1.2);
  align-items: center;
  justify-content: center;
}

.info-producto {
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
  align-items: center;
  justify-content: center;
}

.precio {
	font-size: 18px;
	font-weight: 900;
  align-items: center;
  justify-content: center;
}


.info-producto-boton {
	border: none;
	background: none;
	background-color: #20108d;
	color: #ffffff;
	padding: 10px 10px;
	cursor: pointer;
}

.info-producto-info {
  align-items: center;
  justify-content: center;
	border: none;
	background: none;
	background-color: #9d99b4;
	color: #fff;
	padding: 10px 2px;
	cursor: pointer;
}
.producto {
    
   
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 30px;
    background-color: #dab3e162;
  }
  
  .producto__descripcion {
    align-items: center;
    justify-content: center;
  
  }

  .producto h2 {
    border-width:1px;

    align-items: center;
    justify-content: center;
  
    width: 110px;
    height: 75px;
    color: #3a3a3a;
    font-size: 1.5rem;
    flex: 1;
    margin: 0 1rem;
    color: rgb(61, 52, 52);
  }
  
  .producto__precio {
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #444343;
    background-color: #ffb2b2;
    border: 1px solid #747474;
    padding: 0.5rem;
    border-radius: 12px;
  }
  
  .producto__boton {
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #a30808;
    border: 1px solid #747474;
    padding: 0.5rem;
    border-radius: 12px;
  }
  .boton_add {
    align-items: center;
    background-color: #fcb426 !important;
    margin: 10px 50px !important;
    border: 1px solid #fff !important;
  }
  .producto__nombre {
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #b3cbcf;
    border: 1px solid #747474;
    padding: 0.5rem;
    border-radius: 12px;
  }


  
  @media (min-width: 580px) {
    .producto__descripcion {
      align-items: center;
      justify-content: center;
   
      flex: 1;
    }
  
    .producto__descripcion h2 {
      align-items: center;
      justify-content: center;
      font-size: 1.25rem;
    }
  
    .producto__descripcion__price {
      align-items: center;
      justify-content: center;
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
  }

  .producto-fecha {

    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ececec;
    background-color: #0f90fa;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
  }



  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 3px solid rgb(53, 56, 87);
    border-radius:10px 10px 10px 10px;
  }
  